.app__right {
    text-align: center;
    height: 85vh;
    width: 30%;
    position: fixed;
    right: 40px;
    overflow: auto;
}

.order-summary {
    overflow-y: auto;
    height: 75%;
}

.order-summary__item {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

.order-summary__item > p {
    margin: 0 5px;
}

.order-summary__item > p:nth-child(1) {
    width: 90px;
}
.order-summary__item > p:nth-child(3) {
    width: calc(100% - 40% - 90px);
}

.order-summary__item > p:nth-child(2) {
    width: calc(100% - 30% - 90px);
}

.order-summary__button {
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 0 2px;
}